* {
    box-sizing: border-box;
}

.monday {
    background-color: #9d01da;
}

.tuesday {
    background-color: #ffc6d1;
}

.wednesday {
    background-color: #0000ff;
}

.thursday {
    background-color: #00ff01;
}

.friday {
    background-color: #ffff00;
}

.saturday {
    background-color: #f78601;
}

.sunday {
    background-color: #e70602;
}

.days,
.box-cont {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
    padding: 50px;
    top: 10%;
}

.box-cont {
    height: 400px;
    width: 400px;
    border: 12px solid white;
    margin-top: 80px;
    transition: border-color 0.5s ease-in-out, background-color 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 1s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

button {
    font-size: 17px;
    display: block;
    padding: 15px 25px;
    width: 170px;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

button:hover {
    padding: 15px 28px;
    width: 175px;
    transition: 0.5s;
    transform: scale(1.2);
}
